parameters:
    level: 9
    paths:
        - src
        - config
    excludePaths:
        - var/*
        - data/*
        - resources/views/*
    checkMissingIterableValueType: false
    phpVersion: 80400
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: true
    
    parallel:
        maximumNumberOfProcesses: 4
    scanFiles:
        - boot.php
        - web.php
